.testimonial{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F9FAFB;
    width: 100%;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

.testimony{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.testimony-reviews{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-top: -1em;
}

.testimony-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.testimony-buttons img {
    width: 35%;
}

.support-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.support{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 3em;
}

.support > div, .support > article, .trial > aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.faq{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-left: 1em;
    margin-top: 1em;
    font-weight: bold;
}

.hr{
    width: 100%;
    background-color: #eaecf0;
    border: 1px;
    height: 1px;
    margin-left: 1em;
}

.trial{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 6em;
}

.trial > aside {
    width: 40%;
    margin-left: 3em;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
}

.options > p {
    margin-left: 1em;
    color: #667085;
    font-weight: 600;
}

.options-btn{
    width: 70%;
    margin-left: 1em;
    margin-top: 1em;
}

.testimonial > img {
  width: 35%;
  margin: auto;
}

.trial > img {
  width: 50%;
}

.faq1{
    display: flex;
    flex-direction: column;
    background-color: #F9FAFB;
    width: 100%;
    margin: auto;
    padding: 1em;
    border: 1px solid #d0d5dd;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {

    .testimonial, .support, .trial{
        flex-direction: column;
    }

    .testimonial > aside, .trial > aside {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    #shopify, #stars{
        width: 20%;
        margin-top: 2em;
    }

    .testimonial > img, .trial > img {
        width: 80%;
        margin: auto;
        margin-top: 2em;
    }

    .faq1 {
        width: 90%;
    }
  
}

@media screen and (min-width: 769px) {

    .testimonial > aside {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 45%;
        margin-left: 4em;
        text-align: left;
    }

    #shopify, #stars{
        width: 12%;
        margin-top: 2em;
    }
  
}