.App {
  text-align: center;
}

.App-header {
  background-image: url(../src/images/Background\ pattern.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
}

.App-header > nav {
  background-color: #f2f4f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2em;
  border-radius: 100px;
  padding: 10px 1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  color: #d0d5dd;
}

.navbar a {
  font-weight: bold;
}

.actions, .header-actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.actions button, .header-actions button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  outline: none;
  border-radius: 50px;
}

#btn1{
  background-color: #fff;
  border: 2px solid #d0d5dd;
  padding: 10px 1.5em;
}

#btn2{
  background-color: #175cd3;
  border: none;
  color: #fff;
  padding: 10px 1.5em;
}

.App-header > nav > img {
  width: 10%;
}

a{
  text-decoration: none;
}

.hero{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 4em;
}

.hero > aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.hero > aside > h1 {
  font-size: 50px;
  font-weight: 600;
}

.hero > aside > p {
  font-size: 18px;
  font-weight: 600;
  margin-top: -1.5em;
  color: #d0d5dd;
}

.header-actions{
  width: 60%;
  margin-top: 2em;
}

#btn3{
  background-color: #175cd3;
  border: none;
  color: #fff;
  padding: 1em 1.5em;
}

#btn4{
  background-color: transparent;
  justify-content: space-between;
  color: #175cd3;
  border: none;
  width: 50%;
}

.reviews{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  width: 55%;
}

.reviews > img {
  width: 45%;
}

.reviews > div {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
  height: 40px;
}

.reviews > div img {
  width: 80%;
}